<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link href="{% static "css/homepage/STYLE.css" %}" rel="stylesheet">
    <link href="{% static "css/homepage/font-awesome-4.7.0/css/font-awesome.css"%}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
             <!--<h2>Ansero</h2>-->
             <img src="{% static "logo.png"%}"/>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">

                     <li class="nav-item active">
                         <a class="nav-link" href="register">Войти<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="shop">Каталог</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">
                         <i class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>
                         </a>
                     </li>

                 </ul>
                 <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                 </form>
             </div>
        </nav>
    </div>

    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="{% static "img/homepage/l_NtgdIMTM0.jpg" %}">
            </div>
        </div>


    </div>




    <div class="container-fluid bg-dark">
        <div class="row ">
            <div class="col-12">
                <h3>Наши контакты:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col phone">
                <div class="phonewrap">
                <span><i class="fa fa-phone"></i></span> <a href="#"> 89258484241</a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12 footer">

                <div class="social twitter">
                    <a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="social instagram">
                    <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
                <div class="social facebook">
                    <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                </div>
                <div class="social skype">
                    <a href="#" target="_blank"><i class="fa fa-skype fa-2x"></i></a>
                </div>
                <div class="social vk">
                    <a href="https://vk.com/bachev93" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                </div>

                <div class="social telegram">
                    <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
                </div>

                <div class="social whatsapp">
                    <a href="#" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
                </div>



            </div>


        </div>
        <div class="row">
           <div class="col copyright ">
                   © 2018 Copyright:

           </div>

        </div>

    </div>

<script async src="https://quasar-media.ru/prog/socialbutton/quasar-button.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% bootstrap_javascript %}
</body>
</html>