{% extends "shop/base.html" %}
{% load staticfiles%}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="sidebar container-fluid">
        <div class="row">
            <div class="col-2">
                <h3>Категории товаров</h3>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                        <a href="{% url "shop:product_list" %}">Все категории</a>
                    </li>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
                <h1 class ="head">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
                <div class="row scow">


                    {% for product in products %}
                        <div class="col image">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/../../static/img/shop/no_image.JPG" %}{% endif %}">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                {{ product.price }} ₽
                            </a>
                        </div>
                    {% endfor %}

                </div>

         </div>
    </div>

{% endblock %}